#root{
  display: flex;
  align-items: center;
  justify-content: center;
}
.App{
  position: absolute;
  margin-top: 100vh;
  display: flex;
  width: 99vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.word-row{
  height: 10vh;
  position: relative;
  display: flex;
  margin-top: 8px;
}
.individual-letter-square{
  border-color: black;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  width: 10vh;
  height: 10vh;
  margin-left: 4px;
  position: relative;
  text-align: center;
  line-height: 10vh;
  font-size: 2rem;
  z-index: 3;


}
.text-input{
  margin-top: 1.5rem;
  position: absolute;
  top: 40vh;
  z-index: 0;
  width: 1vh;
}
.green-square{
  background-color: green;
}
.gray-square{
  background-color: gray;
}
.yellow-square{
  background-color: yellow;
}
.white-square{
  background-color: white;
}
.keyboard{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.keyboard-row{
  display: flex;

}
.single-key{
  font-size: 1.5rem;
  border-color: black;
  border-width: 1.2px;
  border-style: solid;
  width: 5vh;
  height: 5vh;
  margin-left: .5rem;
  margin-top: .2rem;
  text-align: center;
  line-height: 5vh;
}
.win-screen{
  background-color: #101820FF;
  position: absolute;
  width: 80vw;
  height: 70vh;
  top: 15vh;
  left: 10vw;
  z-index: 5;
  color: white;
}
.win-segment{
  height: 10%;
  margin-left: 5%;
}
.refresh-button{
  width: 60%;
  margin-left: 20%;
  background-color: #a68965;
  padding: 20px 0;
  margin-top: 1.5%;
  font-size: 2rem;
}
.correct-word{
  z-index: 100;
  position: absolute;
  top: -1%;
  color: #28231D;
  font-size: 2rem;
}
.enter-key{
  width: 20%;
}
.flip{
  animation-duration: .5s;
  animation-name: flipping;
  /* animation-delay: 1000ms; */
}
.flip2{
  /* animation-delay: 500ms; */
}
.word-row .flip:nth-child(1) {  animation-delay: 500ms}
.word-row .flip:nth-child(2) {  animation-delay: 1000ms}
.word-row .flip:nth-child(3) {  animation-delay: 1500ms}
.word-row .flip:nth-child(4) {  animation-delay: 2000ms}
.word-row .flip:nth-child(5) {  animation-delay: 2500ms}


@keyframes flipping {
  0%{
    transform: rotateX(0deg);
  }
  50%{
    transform: rotateX(90deg);
  }
  100%{
    transform: rotateX(0deg);
  }
}




@media screen and (max-width: 450px) {
  .text-input{
    display: none;
  }
  .App{
    margin-top: 70vh;
  }
  .single-key{
    width: 30px;
    height: 30px;
    margin-left: .3rem;
    margin-top: .2rem;
    line-height: 30px;
    font-size: 1rem;
  }
  .individual-letter-square{
    width: 6vh;
    height: 6vh;
    margin-left: 0;
    line-height: 6vh;
    font-size: 2rem;
    border-right: none;
  }
  .rightmost-square{
    border-right: solid;
    border-width: 2px;
  }
  .word-row{
    margin-top: 0;
    height: 6vh;
  }
  .enter-key{
    width: 50%;
  }
}
@media screen and (max-width: 350px) {
  .individual-letter-square{
    width: 4vh;
    height: 4vh;
    line-height: 4vh;
    font-size: 2rem;
  }
  .word-row{
    height: 4vh;
  }
  .App{
    margin-left: 7%;
  }
}